.gitattributes export-ignore
.github export-ignore
.github/** export-ignore
CONTRIBUTING.md export-ignore
docs export-ignore
docs/** export-ignore
img export-ignore
img/** export-ignore
site export-ignore
site/** export-ignore
